<div *delayRendering="1000">
      <h1>Counter Value: {{ this.counter }}</h1>
      <input
        type="button"
        (click)="this.updateCounter()"
        value="Update Counter"
      />
</div>

<div>
  <p *appNot='!condition'> A => This paragraph is displayed because the condition is true. </p>

<p *appNot='condition'> B => This paragraph is displayed because the condition is false. </p>
</div>

<div>
  <p >Another paragraph</p>
  <div tooltip="red" fontColor="white">Mouse Hover Here!</div>
</div>